@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Semibold'), local('OpenSansSemibold-Regular'),
    url(../fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.woff) format('woff'),
    url(../fonts/open-sans-semibold_0386706ca5731e1ded1d354ae3151708.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans-Regular'),
    url(../fonts/open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.woff) format('woff'),
    url(../fonts/open-sans_5f14bd2f3cd41e7b13ff8bc4177c9d06.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Light'), local('OpenSansLight-Regular'),
    url(../fonts/open-sans-light_289c7e8e7dc5f4e0b91733fdb56d5560.woff) format('woff'),
    url(../fonts/open-sans-light_289c7e8e7dc5f4e0b91733fdb56d5560.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans Semibold Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Semibold Italic'), local('OpenSansSemibold-Italic'),
    url(../fonts/open-sans-semibold-italic_39ff1484b54b3e2d9155a13191170305.woff) format('woff'),
    url(../fonts/open-sans-semibold-italic_39ff1484b54b3e2d9155a13191170305.ttf) format('truetype');
}

a:focus, a:hover {
    /*color: white;*/
    text-decoration: none;
}

.b-page {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Semibold', arial;
    font-size: 14px !important;
    background-image: url("../img/b-page__bg.png");
}

.b-page__wrapper {
    width: 100%;
    max-width: 1980px;
    min-width: 1280px;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.b-page__header {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.b-page__content {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.b-page__footer {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 235px;
    background-color: #096bc6;
    background-image: url("../img/footer-bg.png");
    background-size: cover;
    padding: 25px 20px 10px 25px;
}

.b-info-blocks {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 25px;
    width: 100%;
    z-index: 1;
}

.b-auth {
    margin-top: 25px;
    width: 25%;
    z-index: 1;
}

.b-auth-form {
    position: relative;
}

.b-auth-form__body,
.b-auth-form__footer
{
    text-align: right;
}

.b-auth-form__submit {
    position: absolute;
    right: 10px;
    top: 56px;
}

.b-auth-form__footer {
    top: -10px;
    position: relative;
}

.b-auth-form__text-input {
    background-color: #1e4f8a;
    border: 1px #0f3c77 solid;
    margin-bottom: 8px;
    padding-left: 5px;
    width: 100%;
    max-width: 180px;
    height: 23px;
    color: white;
    box-sizing: border-box;
    font-size: 10px;
}

.b-auth-form__header {
    text-align: right;
    margin-bottom: 3px;
}

.b-auth-form__register {
    color: white;
    font-size: 10px;
}

.b-auth-form__register:focus,
.b-auth-form__register:hover {
    color: white;
}

.b-auth-form__remember {
    margin: 0;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 2px !important;
    width: 10px;
}

.b-auth-form__remember-label {
    color: white;
    font-size: 8px;
    font-weight: normal;
}

.b-auth-form__forgot {
    color: white;
    font-size: 8px;
    text-decoration: underline;
    margin-left: 20px;
}

.b-auth-form__forgot:focus,
.b-auth-form__forgot:hover {
    color: white;
    text-decoration: underline;
}

.b-header__info-block {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    background-color: #096bc6;
    background-image: url("../img/header-bg.png");
    background-size: cover;
    height: 190px;
    padding: 15px 5% 25px 25px;
    box-sizing: border-box;
    position: relative;
}

.b-header__buildings {
    background-image: url("../img/header-buildings.png");
    background-size: cover;
    position: absolute;
    width: 600px;
    height: 205px;
    right: 0px;
    top: 2px;
    z-index: 0;
}

.b-header__navigation-block {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 45px;
    background: #131313;
}

.b-main-menu {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: auto;
    padding: 0;
    font-size: 17px;
}

.b-main-menu__item {
    display: block;
}

.b-header__secondary-block {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 6px 30px;
    background-color: #ebebeb;
    border-bottom: 1px #cccccc solid;
}

.b-secondary-menu {
    width: 75%;
    font-size: 13px;
}

.b-secondary-menu__item-link {
    color: #4e4e4e;
}

.b-secondary-menu__item-link:focus,
.b-secondary-menu__item-link:hover {
    color: #4e4e4e;
    text-decoration: underline;
}

.b-secondary-menu__list {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    width: 85%;
    margin: 0px;
}

.b-secondary-menu__list-item {
    display: inline-block;
}

.b-footer-logo {
    width: 30%;
    position: relative;
    top: -10px;
}

.b-footer-logo__link {
    text-decoration: none;
}

.b-footer-logo__city-name {
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    width: 200px;
    text-align: right;
    position: relative;
    top: -10px;
    font-family: century gothic;
}

.b-footer__copy {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 11px;
}

.b-servies {
    display: -webkit-flex;
    display: flex;
    width: 65%;
    padding-left: 15%;
}

.b-servies-block {
    margin-right: 10%;
    /*width: 20%;*/
    line-height: 25px;
}

.b-counters {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.b-counter__item {
    margin-left: 10px;
}

.b-logo {
    width: 300px;
    margin: 10px 0px 0px 7px;
}

.b-logo__link {
    display: block;
    text-decoration: none;
}

.b-logo__city-name {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    width: 250px;
    text-align: right;
    position: relative;
    top: -10px;
    font-family: century gothic;
}

.b-main-menu__link {
    text-decoration: none;
    color: white;
}

.b-main-menu__link:hover {
    color: #2183c0;
}

.b-main-menu__link_active {
    color: #2183c0;
}

.b-servies-block__list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: "century gothic";
}

.b-servies-block__title {
    color: white;
    text-decoration: underline;
}

.b-servies-block__item-link {
    text-decoration: none;
    color: white;
    text-transform: lowercase;
}

.b-servies-block__item-link:focus,
.b-servies-block__item-link:hover {
    text-decoration: dashed;
    color: white;
}

.b-page__content {
    min-height: 200px;
}

.b-search__request-button {
    color: white;
    background-color: #262020;
    border-radius: 5px;
    border-style: solid;
    padding: 2px 10px;
    font-size: 10px;
    position: relative;
    top: -1px;
}

.b-search__query-input {
    width: 230px;
    border: 1px #cfd8dd solid;
    padding: 2px 5px;
    font-size: 10px;
}

.b-full-block {
    width: 100%;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
}

.b-column {
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.b-content-item-block {
    border: #dcdcdc 1px solid;
    position: relative;
    background-color: white;
    padding: 3px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.b-content-item-block::before,
.b-content-item-block::after {
    content: "";
    position: absolute;
    z-index: -2;
    bottom: 6px;
    left: 3%;
    width: 37%;
    height: 5px;
    -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.75);
    -webkit-transform: rotate(-1.1deg);
    -moz-transform: rotate(-1.1deg);
    -ms-transform: rotate(-1.1deg);
    -o-transform: rotate(-1.1deg);
    transform: rotate(-1.1deg);
}

.b-content-item-block::after {
    right:3%;
    left:auto;
    -webkit-transform:rotate(1.1deg);
    -moz-transform:rotate(1.1deg);
    -ms-transform:rotate(1.1deg);
    -o-transform:rotate(1.1deg);
    transform:rotate(1.1deg);
}

.b-column_top-left {
    width: 25%;
    max-width: 250px;
}

.b-column_top-center {
    margin: 0 10px;
    /*width: 100%;*/
}

.b-column_top-right {
    width: 25%;
    max-width: 250px;
}

.b-main-news-preview {
    padding: 5px;
    width: 100%;
}

.b-main-news-preview__item_second {
    margin-bottom: 2px;
}

.b-main-news-preview__row {
    margin: 0px;
    margin-bottom: 2px;
}

.b-main-news-preview__col {
    padding: 0px;
    padding-right: 2px;
}

.b-main-news-preview-item__image {
    width: 100%;
}

.b-main-news-preview-item__link {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
}

.b-main-news-preview-item__link:focus,
.b-main-news-preview-item__link:hover {
    text-decoration: none;
    color: white;
}

.b-main-news-preview-info-block {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.78);
    /*height: 45px;*/
    width: 100%;
    overflow: hidden;
    /*padding: 8px 5px 8px 16px;*/
    box-sizing: border-box;
    font-size: 12px;
    font-family: Arial;
}

.b-main-news-preview-info-block__wrapper {
    display: none;
}

.b-main-news-preview-info-block_big {
    /*height: 125px;*/
    /*padding: 10px 5px 8px 18px;*/
    bottom: -1px;
}

.b-main-news-preview-info-block__title {
    padding: 8px 0px 3px 16px;
}

.b-main-news-preview-info-block__title_big {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 10px 0px 0px 18px;
}

.b-main-news-preview-info-block__description {
    color: #bbb;
    font-size: 12px;
    max-height: 20px;
    padding: 0px 5px 0px 16px;
}

.b-main-news-preview-info-block__description_big {
    max-height: 50px;
    padding: 0px 5px 0px 18px;
}

.b-main-news-preview-info-block__footer {
    padding: 8px 5px 8px 16px;
    background-color: rgba(0, 0, 0, 0.8);
}

.b-main-news-preview-info-block__footer_big {
    padding: 10px 5px 8px 18px;
}

.b-main-news-preview-info-block__date {
    display: inline-block;
    font-size: 14px;
    width: 60%;
}

.b-main-news-preview-info-block__counters {
    width: 39%;
    display: inline-block;
    text-align: right;
}

.b-main-news-preview-info-block__views-counter {
    display: inline-block;
    width: 45%;
}

.b-main-news-preview-info-block__views-counter-icon {
    display: inline-block;
    width: 16px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/b-main-news-preview-info-block__views-counter-icon.png");
    position: relative;
    top: 3px;
}

.b-main-news-preview-info-block__views-counter-value {
    display: inline-block;
    padding: 2px 7px 0px 9px;
    height: 17px;
    font-size: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    background-image: url("../img/b-main-news-preview-info-block__views-counter-value-bg.png");
}

.b-main-news-preview-info-block__comments-counter {
    display: inline-block;
    width: 45%;
}

.b-main-news-preview-info-block__comments-counter-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/b-main-news-preview-info-block__comments-counter-icon.png");
    position: relative;
    top: 3px;
}

.b-main-news-preview-info-block__comments-counter-value {
    display: inline-block;
    padding: 2px 7px 0px 9px;
    height: 17px;
    font-size: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    background-image: url("../img/b-main-news-preview-info-block__views-counter-value-bg.png");
}

.b-advert-side-block {
    width: 242px;
    height: 401px;
}

.b-advert-horizontal-block {
    height: 90px;
    width: 100%;
}

.b-subscribe-invite {
    height: 80px;
    background-image: url("../img/rss_icon.png");
    background-position: 170px 10px;
    background-repeat: no-repeat;
    padding: 10px 0px 0px 17px;
    font-size: 13px;
}

.b-subscribe-invite__title {
    margin-bottom: 7px;
    font-size: 14px;
}

.b-subscribe-invite__link {
    color: #2389c9;
    font-style: italic;
    display: inline-block;
    width: 95px;
    line-height: 15px;
    font-family: "Times New Roman";
    font-size: 16px;
}

.b-subscribe-invite__link:focus,
.b-subscribe-invite__link:hover {
    color: #2389c9;
    text-decoration: underline;
}

.b-main-literal::first-letter {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #2389c9;
    font-family: "Times New Roman";
}

.b-send-news-invite {
    padding: 10px 5px 20px 13px;
}

.b-send-news-invite__info-text {
    font-size: 12px;
}

.b-send-news-invite__title {
    margin-bottom: 10px;
    font-size: 14px;
}

.b-send-news-invite__link {
    margin-bottom: 10px;
    display: flex;
    color: #2389c9;
    align-items: center;
}

.b-send-news-invite__link:focus,
.b-send-news-invite__link:hover {
    color: #2389c9;
}

.b-send-news-invite__link-mage {
    display: inline-block;
    margin-right: 15px;
}

.b-send-news-invite__link-text {
    display: inline-block;
    font-size: 12px;
    /*font-family: "Open Sans Semibold Italic";*/
}

.b-send-news-invite__link:focus > .b-send-news-invite__link-text,
.b-send-news-invite__link:hover > .b-send-news-invite__link-text {
    text-decoration: underline;
}

.b-send-news-invite__link-text:focus,
.b-send-news-invite__link-text:hover {
    text-decoration: underline;
}

.b-send-news-invite__info-phone {
    font-size: 20px;
    font-style: inherit;
}

.b-text-news-preview {
    padding: 15px;
}

.b-text-news-item {
    display: inline-block;
    height: 50px;
    width: 29.5%;
    margin-right: 1.5%;
    margin-left: 1.5%;
}

.b-text-news-item__link {
    color: black;
    font-size: 14px;
}

.b-text-news-item__link:focus,
.b-text-news-item__link:hover {
    color: black;
    text-decoration: underline;
}

.b-text-news-preview__footer {
    text-align: right;
}

.b-text-news-preview__archive-link {
    color: #2389c9;
    font-size: 14px;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
}

.b-text-news-preview__archive-link:focus,
.b-text-news-preview__archive-link:hover {
    color: #2389c9;
    text-decoration: underline;
}

.b-offers-block {
    width: 100%;
    display: flex;

}

.b-offers-list {
    width: 100%;
    padding: 13px 3px 10px 10px;
    color: black;
    margin-right: 2%;
}

.b-offers-list__title {
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 6px;
}

.b-offers-list__footer {
    text-align: right;
    padding-right: 15px;
}

.b-offers-list__see-more-link {
    color: #2389c9;
    font-size: 14px;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: bold;
}

.b-offers-list__see-more-link:focus,
.b-offers-list__see-more-link:hover {
    color: #2389c9;
    text-decoration: underline;
}

.b-offer-item {
    margin-bottom: 12px;
    padding-top: 8px;
    height: 90px;
    background-image: url("../img/b-offer-item__border.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.b-offer-item__link {
    color: black;
    display: flex;
}

.b-offer-item__link:focus,
.b-offer-item__link:hover {
    color: black;
}

.b-offer-item__link:focus .b-offer-item__title,
.b-offer-item__link:hover  .b-offer-item__title {
    text-decoration: underline;
}

.b-offer-item__image {
    display: inline-block;
    vertical-align: top;
    max-width: 105px;
    margin-right: 10px;
}

.b-offer-item__description {
    display: inline-block;
    width: 100%;
    /*width: calc(100% - 135px);*/
}

.b-offer-item__type {
    display: inline;
    font-size: 14px;
}

.b-offer-item__name {
    display: inline;
    font-size: 14px;
}

.b-offer-item__date {
    color: #c7c7c7;
    font-size: 12px;
    font-family: "Open Sans";
}

.b-offer-item__price {
    font-size: 18px;
    color: #e20000;
    padding-right: 25px;
    text-align: right;
}

.b-offer-item__price-valute {
    font-size: 14px;
}

.b-social-networks {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

.b-realty-offers {
    width: 100%;
    padding: 11px 10px 13px 7px;
}

.b-realty-offers__title {
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.b-realty-offers__map {
    display: inline-block;
    padding-right: 7px;
    vertical-align: top;
    max-height: 412px;
    width: 50%;
}

.b-realty-offers__offer-items {
    display: inline-block;
    width: 45%;
}

.b-realty-offer-item {
    position: relative;
    margin-bottom: 7px;
}

.b-realty-offer-item__premium {
    position: absolute;
    color: white;
    font-size: 11px;
    padding-left: 5px;
    padding-top: 0px;
    width: 63px;
    height: 17px;
    background-color: #f53e2e;
}

.b-realty-offer-item__image {
    display: inline-block;
    max-width: 128px;
    vertical-align: top;
    margin-right: 7px;
}

.b-realty-offer-item__data {
    display: inline-block;
    width: calc(100% - 145px);
    font-size: 10px;
    color: #6c6c6c;
}

.b-realty-offer-item__link {
    color: #2389c9;
    font-size: 12px;
}

.b-realty-offer-item__link:focus,
.b-realty-offer-item__link:hover {
    color: #2389c9;
    text-decoration: underline;
}

.b-realty-offer-item__price {
    font-size: 14px;
}

.b-realty-offer-item__description {
    color: #818c92;
}

.b-realty-offer-item__see-more-block {
    text-align: right;
}

.b-realty-offer-item__see-more-link {
    color: white;
    padding: 3px 5px;
    font-size: 9px;
    background-color: #2c2627;
    border-radius: 3px;
}

.b-realty-offer-item__see-more-link:focus,
.b-realty-offer-item__see-more-link:hover {
    color: white;
    text-decoration: none;
}

.b-realty-offer-item-params__rooms,
.b-realty-offer-item-params__meters,
.b-realty-offer-item-params__floor {
    display: inline-block;
    margin-right: 25px;
}

.b-hot-tours {
    width: 100%;
    padding: 13px 9px 18px 6px;
}

.b-hot-tours__title {
    padding-left: 5px;
    font-size: 14px;
}

.b-hot-tour-item {
    position: relative;
    background-image: url("../img/b-offer-item__border.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24.7%;
    padding-top: 12px;
    box-sizing: border-box;
    padding-right: 30px;
    display: inline-block;
}

.b-hot-tour-item__flag {
    position: absolute;
    top: 6px;
}

.b-hot-tour-item__image {
    display: inline-block;
    vertical-align: top;
    max-width: 104px;
    margin-right: 3px;
}

.b-hot-tour-item__data {
    display: inline-block;
    color: #848484;
    font-size: 10px;
    width: calc(100% - 115px);
}

.b-hot-tour-item__room {
    margin-bottom: 5px;
}

.b-hot-tour-item__date {
    display: inline-block;
    width: 60%;
}

.b-hot-tour-item__price {
    display: inline-block;
    color: #a10000;
    font-size: 15px;
    width: 35%;
    text-align: right;
}

.b-hot-tour-item__link {
    color: #008acc;
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
}

.b-hot-tour-item__link:focus,
.b-hot-tour-item__link:hover {
    color: #008acc;
    text-decoration: underline;
}

.b-star-rating__star {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 4px;
    background-image: url("../img/rating-star_empty.png");
    background-repeat: no-repeat;
}

.b-star-rating__value {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 4px;
    background-repeat: no-repeat;
}

.b-star-rating__value_full {
    background-image: url("../img/rating-star__full.png");
}

.b-star-rating__value_semi {
    background-image: url("../img/rating-star__semi.png");
}

.b-star-rating__star_active {
    cursor: pointer;
}

.b-star-rating__star_active:hover > .b-star-rating__value {
    background-image: url("../img/rating-star__selected.png");
}

.b-advert-item {
    width: 100%;
    height: 100%;
}

.b-advert-item__image {
    /*width: 100%;*/
    height: 100%;
    margin: auto;
    display: block;
}

.b-info-blocks__widget-slider {
    width: 340px;
    margin-right: 45px;
}

.b-info-blocks__weather {
    margin-left: 30px;
}

.b-weather-informer {
    width: 205px;
    background-image: url("../img/b-weather-informer__bg.png");
    height: 111px;
    display: flex;
    color: #cdd0d4;
    opacity: 0.64;
}

.b-weather-informer__clock {
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 14px;
    left: 5px;
}

.b-weather-informer__clock-day-part {
    font-size: 14px;
    font-family: Calibri;
}

.b-weather-informer__clock-time {
    font-size: 32px;
    font-family: 'Open Sans';
    line-height: 36px;
    margin-bottom: 5px;
}

.b-weather-informer__clock-date {
    font-size: 11px;
    font-family: 'Arial';
}

.b-weather-informer__weather {
    width: 100px;
    position: relative;
    top: 45px;
    font-family: "Open Sans Light";
    left: 5px;
}

.b-weather-informer__weather-icon {
    position: absolute;
    top: -39px;
    left: 20px;
    opacity: 0.7;
}

.b-weather-informer__weather-data {
    display: flex;
    align-items: center;
}

.b-weather-informer__weather-morning {
    font-size: 28px;
    line-height: 35px;
}

.b-weather-informer__weather-data-col {
    font-size: 11px;
}

.b-weather-informer__weather-city-name {
    font-size: 12px;
}

.b-single-news-view {
    padding: 8px;
}

.b-single-news-view__header {
    padding-left: 8px;
    margin-bottom: 10px;
}

.b-single-news-view__date-time {
    color: #c7c7c7;
    font-size: 12px;
    font-family: "Open Sans";
}

.b-single-news-view__content {
    display: flex;
    flex-direction: column;
}

.b-single-news-view__image-area {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-end;
    margin-bottom: 10px;
}

.b-single-news-view__image-author {
    color: #c7c7c7;
    font-size: 12px;
    font-family: "Open Sans";
}

.b-single-news-view__image {
    margin-bottom: 5px;
}

.b-single-news-view__news-text {
    color: black;
    font-size: 12px;
    font-family: "Open Sans";
    margin-bottom: 15px;
}

.b-single-news-view__news-source {
    color: #2389c9;
    font-family: "Times New Roman";
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}

.b-single-news-view__news-source:focus,
.b-single-news-view__news-source:hover {
    color: #2389c9;
    text-decoration: underline;
}